body{
    background-color: rgb(4, 1, 34);
}

h1{
    text-align: center;
    text-decoration: underline dotted;
    font-size: 50px;
    color:white;
    margin-top: 100px;
}
.loader{


    width:100px;
    height:100px;

    margin-left:600px;
    margin-top:150px;

    background-color:rgb(4, 1, 34);

    border-radius:50%;
    border: 20px solid rgb(216, 215, 223);
    border-top:20px solid rgb(35, 0, 124);
    border-bottom:20px solid rgb(35, 0, 124);
   
    transform: rotate(0deg);
    animation: positionAnimate 3s ease infinite normal;
   
   
}

@keyframes positionAnimate{
    from{ transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}